*{
    margin: 0;
    padding: 0;
}
body{
    background-color: aliceblue;
}

section{
    min-height: 100vh;
    padding-top: 50px;
}
.home{
    background-image: url(/images/imgs.jpg);
}
header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    display: inline-block;
  }
  
  header nav ul li a {
    text-decoration: none;
    padding: 10px 15px;
    color: #333;

  }
  
  header nav ul li a:hover {
    background-color: #f0f0f0;
  }
  
  /* Optional: Position the navigation bar fixed at the top */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
  }
  footer{
    padding-top: 50px;
    max-height: 20vh;
  }