*{
    margin: 0;
    padding: 0;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: aliceblue;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    text-align: center;
}
nav img{
    width: 150px;
    border-radius: 20%;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
}
.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: green;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li a:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
}
.btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid green;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid gray;
    background: grey;
    transition: 1s;
}
nav .fa{
    display: none;
}

/* Blog section */

.heading{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #ffff;
    background-color: rgba(5, 5, 91, 0.729);
}
#blog{
    height: 100vh;
}
.blog-row{
    display: flex;
    width: 1000px;
    padding-left: 70px;
    gap: 60px;
}


/* Feedback section */
#feedback{
    height: 20vh;
    background-color: aliceblue;
}
.feedbackH{
    text-align: center;
    background-color: rgba(5, 5, 91, 0.729);
    color: #ffff;
}
.feedbackfrm{
    padding-left: 5%;
    padding-top: 15px;
    width: 50%;
}

/* Footer section */
#footers{
    height: 10vh;
    background-color: aliceblue;
    display: flex;
    margin-top: 5px;
}
footer{
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
}